<div class="list-filters">
    {% raw %}
    <div class="form-group">
        <label for="brandFilter">Марка</label>
        <select id="brandFilter" class="form-control"
            ng-options="brand.name for brand in autoData.brands|orderBy:'name' track by brand.id"
            ng-model="autoData.filters.brand"
            ng-change="updateFilters('brand')"
        >
            <option value="">Будь-яка</option>
        </select>
    </div>
    <div class="form-group">
        <label for="modelFilter">Модель</label>
        <select id="modelFilter" class="form-control"
            ng-options="model.name for model in models|orderBy:'name' track by model.id"
            ng-model="autoData.filters.model"
            ng-change="updateFilters()"
            ng-disabled="models.length < 2"
        >
            <option ng-if="models.length !== 1" value="">Будь-яка</option>
        </select>
    </div>
    <div class="form-group">
        <label for="yearFilter">Рік випуску</label>
        <div class="row">
            <div class="col-xs-6">
                <input id="yearFilter" class="form-control" type="number"
                    ng-model="autoData.filters.yearFrom" ng-change="updateFilters('yearFrom')"
                    placeholder="З"
                />
            </div>
            <div class="col-xs-6">
                <input id="yearFilter" class="form-control" type="number"
                    ng-model="autoData.filters.yearTo" ng-change="updateFilters('yearTo')"
                    placeholder="До"
                />
            </div>
        </div>
    </div>
    {% endraw %}
</div>