<div class="list-filters" ng-controller="ItemsListFiltersController">
    {% raw %}
    <div class="form-group">
        <label>Шукати</label>
        <div class="form-inline">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                        ng-model="autoData.filters.isNew"
                        ng-change="updateFilters('isNew')"
                    /> Нові
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                        ng-model="autoData.filters.isUsed"
                        ng-change="updateFilters('isUsed')"
                    /> Б/у
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="brandFilter">Кузов</label>
        <select id="brandFilter" class="form-control"
            ng-options="bodyType.name for bodyType in autoData.bodyTypesWithAdvertisements track by bodyType.id"
            ng-model="autoData.filters.bodyType"
            ng-change="updateFilters('bodyType')"
        >
            <option value="">Будь-який</option>
        </select>
    </div>
    <div class="form-group">
        <label for="brandFilter">Марка</label>
        <select id="brandFilter" class="form-control"
            ng-options="brand.name for brand in autoData.brandsWithAdvertisements track by brand.id"
            ng-model="autoData.filters.brand"
            ng-change="updateFilters('brand')"
        >
            <option value="">Будь-яка</option>
        </select>
    </div>
    <div class="form-group">
        <label for="yearFilter">Рік випуску</label>
        <div class="row">
            <div class="col-xs-6">
                <input id="yearFilter" class="form-control" type="number"
                    ng-model="autoData.filters.yearFrom" ng-change="updateFilters('yearFrom')"
                    placeholder="З"
                />
            </div>
            <div class="col-xs-6">
                <input id="yearFilter" class="form-control" type="number"
                    ng-model="autoData.filters.yearTo" ng-change="updateFilters('yearTo')"
                    placeholder="До"
                />
            </div>
        </div>
    </div>
    {% endraw %}
</div>