# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
.*

# Translations
*.mo
*.pot

/env
settings_local.py

/logs/*
/frontend/static/*
/frontend/node_modules
!/frontend/.jshintrc

!.gitkeep
!.env
