# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
.*

# Translations
*.mo
*.pot

/env
settings_local.py
/.volumes

/logs/*
/frontend/static/*
/frontend/node_modules
!/frontend/.jshintrc

!/.meta
!.gitkeep
!.env
!.dockerignore
