# ln -sF deploy/deploy-compose.yml && ln -sF deploy/app/Dockerfile
#
version: '2'
services:
    db:
        image: postgres:9
        environment:
            - POSTGRES_USER=auto_collector
            - POSTGRES_PASSWORD=auto_collector
            - POSTGRES_DB=auto_collector
            - PGDATA=/var/lib/postgresql/data/pgdata
        volumes:
            - .volumes/postgresql:/var/lib/postgresql/data/pgdata:rw
    frontend:
        build:
            context: .
            dockerfile: Dockerfile.frontend
        ports:
            - "8081:80"
    app:
        build:
            context: .
            dockerfile: Dockerfile.app
    server:
        extends: app
        depends_on:
            - app
            - db
        ports:
            - "8080:80"
        command: python manage.py serve
    parser:
        extends:
            service:
                app
        command: python manage.py parse
    synchronizer:
        extends:
            service:
                app
        command: python manage.py synchronize