@charset 'utf-8';

body {
    background-image: url('images/test.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: grey;
}