<div class="row">
{% raw %}
    <a class="col-lg-4 col-md-6 col-sm-12 col-xs-12 model" ng-href="/{{ model.id }}/"
        ng-repeat="model in models | filter: filterParams"
    >
        <img class="img-responsive img-thumbnail model_image" ng-src="{{ model.preview }}" />
        <span class="model_title">{{ model.brand }} {{ model.name }}</span>
        <span class="model_price">
            {{ model.price_avg }} грн.
            <span class="model_price__range" ng-if="model.price_min != model.price_max">
                ({{ model.price_min }} - {{ model.price_max }})
            </span>
        </span>
    </a>
{% endraw %}
<div class="model-preview" ng-view></div>
</div>