<div class="row">
    {% raw %}
    <p class="col-xs-12 text-warning item" ng-show="limitedItems.length === 0">
        Немає оголошень що задовільняють обрані параметри пошуку
    </p>
    <a class="col-lg-4 col-md-6 col-sm-12 col-xs-12 item js-list-item"
        ng-repeat="item in limitedItems"
        ng-href="{{ item.url }}"
    >
        <div class="item_image img-responsive img-thumbnail">
            <div class="item_image-src"
                ng-style="{'background-image': 'url(\'{{ item.preview }}\')'}"
            ></div>
        </div>
        <span class="item_title">{{ item.title }}</span>
        <span class="item_price">{{ item.price }}</span>

        <span class="item_compare"
            ng-class="{item_compare__added: inComparison(item.model_id)}"
            ng-click="toggleCompareState(item.model_id, $event)"
        >
            <div class="item_compare-text"
                ng-bind="inComparison(item.model_id) ? 'Видалити з порівняння' : 'Додати в порівняння'"
            ></div>

            {% endraw %}
                {% with compare_svg_class = 'item_compare-svg' %}
                    {% include 'svg/compare.svg' %}
                {% endwith %}
            {% raw %}
        </span>
    </a>
    {% endraw %}
</div>