.item {
    position: relative;
    margin: $global-indent / 2 0;

    &_image {
        width: 100%;
    }
    &_title {
        top: $global-indent;
        left: $global-indent;
    }
    &_price {
        bottom: $global-indent;
        right: $global-indent;
    }
    &_title, &_price {
        font-weight: bold;
        background-color: rgba(white, 0.7);
        border-radius: $global-indent / 3;
        padding: $global-indent / 3;
        position: absolute;
    }
}