{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" ng-controller="ComparisonController">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 list-filters-wrapper" ng-controller="ItemsListFiltersController">
        {% include 'auto/snippets/filters.html' %}
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12" ng-controller="ItemsListController">
        {% include 'auto/items_list.html' %}
    </div>
    <div class="modal-container col-lg-10 col-md-9 col-sm-8 col-xs-12" ng-controller="ModalController" ng-view></div>
</div>
{% endblock %}