{% extends 'base.html' %}

{% block content %}
    <div id="js-models-list" ng-controller="ModelListController"
        data-initial="{{ models_json|escape }}"
        data-page="{{ page }}"
        data-api-url="/?page={page}"
    >
    {% raw %}
        <ul>
            <li class="model" ng-repeat="model in models" ng-style="{'background-image': 'url({{ model.preview }})'}">
                <span class="model_title">{{ model.brand }} {{ model.name }}</span>
                <span class="model_price">
                    {{ model.price_avg }} грн.
                    ({{ model.price_min }} - {{ model.price_max }})
                </span>
            </li>
        </ul>
    {% endraw %}
    </div>
{% endblock %}