<div class="modal-content">
    <div class="modal-header">
        <a href="/" ng-click="closeModal($event)" class="close">&times;</a>
        <h1>Порівняння моделей</h1>
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-striped" data-if="comparePanels.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="modelId in compared track by $index">
                        <a ng-href="{{ getModelUrl(modelId) }}">{{ getModelTitle(modelId) }}</a>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th ng-repeat="modelId in compared track by $index">
                        <a href="#" ng-click="toggleCompareState(modelId, $event)">
                            X
                        </a>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th ng-repeat="modelId in compared track by $index">
                        <img ng-if="getModelPreview(modelId)" ng-src="{{ getModelPreview(modelId) }}" width="100%" />
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="panel in comparePanels" ng-if="panel.visible()">
                <tr class="panel-heading expand-arrow"
                    ng-click="panel.toggleExpand()"
                    ng-class="{'expand-arrow__collapse': panel.isExpanded}"
                >
                    <th colspan="{{ 1 + panel.ids.length }}">
                        {{ panel.title }}
                    </th>
                </tr>
                <tr ng-repeat="field in panel.fields" ng-if="field.visible()">
                    <th>{{ field.title }}:</th>
                    <td class="item" ng-repeat="item in field.items">
                        <div class="panel-field_values-list" ng-if="item.valuesList.length <= 3">
                            <span class="panel-field_value" ng-repeat="value in item.valuesList | orderBy">
                                {{ value }}
                            </span>
                        </div>
                        <div ng-if="item.valuesList.length > 3">
                            {{ item.getValuesListRange() }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <a href="/" ng-click="closeModal($event)" class="btn btn-default" data-dixsiss="modal">Закрити</a>
    </div>
</div>