<div class="modal-content">
    <div class="modal-header">
        <a href="/" ng-click="closeModal($event)" class="close">&times;</a>
        <h1>{{ model.full_title }}</h1>
    </div>

    <div class="modal-body">
        <div class="panel panel-default"
            style="margin-bottom: 5px;"
            ng-repeat="panel in panels" ng-if="panel.visible()"
        >
            <div class="panel-heading expand-arrow"
                ng-click="panel.toggleExpand()"
                ng-class="{'expand-arrow__collapse': panel.isExpanded}"
            >{{ panel.title }}</div>

            <div class="panel-body" ng-if="panel.isExpanded">
                <div class="panel-field" ng-repeat="field in panel.fields" ng-if="field.visible()">
                    <div class="panel-field_title">{{ field.title }}:</div>
                    <div class="panel-field_values-list">
                        <span ng-repeat="value in field.first().valuesList | orderBy"
                            class="panel-field_value"
                        >{{ value }}</span>
                    </div>
                </div>
            </div>
        </div>

        <h3>Оголошення:</h3>
        <table class="table advertisements-table">
            <thead>
                <tr>
                    <th class="advertisements-table_sortable"
                        ng-click="setOrderBy('name')"
                        ng-class="{
                            'advertisements-table_sortable__active': ordering.by == 'name',
                            'reversed': ordering.reverse
                        }"
                    >Назва</th>
                    <th class="advertisements-table_sortable"
                        ng-click="setOrderBy('year')"
                        ng-class="{
                            'advertisements-table_sortable__active': ordering.by == 'year',
                            'reversed': ordering.reverse
                        }"
                    >Рік</th>
                    <th class="advertisements-table_sortable"
                        ng-click="setOrderBy('price')"
                        ng-class="{
                            'advertisements-table_sortable__active': ordering.by == 'price',
                            'reversed': ordering.reverse
                        }"
                    >Ціна</th>
                    <th>Фото</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adv in filteredAdvertisements|orderBy:ordering.by:ordering.reverse">
                    <td>
                        <a ng-href="{{ getAdvertisementUrl(adv) }}" target="_blank">
                            {{ adv.name }}
                        </a>
                    </td>
                    <td>{{ adv.year }}</td>
                    <td>
                        {{ adv.price | number }} грн.
                    </td>
                    <td>
                        <a ng-href="{{ getAdvertisementUrl(adv) }}" target="_blank">
                            <img ng-src="{{ adv.preview }}" height="64px" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <a href="/" ng-click="closeModal($event)" class="btn btn-default" data-dixsiss="modal">Закрити</a>
    </div>
</div>