<div class="modal fade in" role="dialog" style="display: block;"
    ng-click="closeModal($event)"
>
<div class="modal-dialog modal-lg">
<div class="modal-content" ng-click="$event.stopPropagation()">

<div class="modal-header">
    <a href="/" class="close">&times;</a>
    <h1>{{ brand.name }} {{ model.name }}</h1>
</div>

<div class="modal-body">
<table class="table advertisements-table">
    <thead>
        <tr>
            <th class="advertisements-table_sortable"
                ng-click="setOrderBy('name')"
                ng-class="{
                    'advertisements-table_sortable__active': ordering.by == 'name',
                    'reversed': ordering.reverse
                }"
            >Назва</th>
            <th class="advertisements-table_sortable"
                ng-click="setOrderBy('year')"
                ng-class="{
                    'advertisements-table_sortable__active': ordering.by == 'year',
                    'reversed': ordering.reverse
                }"
            >Рік</th>
            <th class="advertisements-table_sortable"
                ng-click="setOrderBy('price')"
                ng-class="{
                    'advertisements-table_sortable__active': ordering.by == 'price',
                    'reversed': ordering.reverse
                }"
            >Ціна</th>
            <th>Фото</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="adv in advertisements|orderBy:ordering.by:ordering.reverse">
            <td>
                <a ng-href="{{ adv.origin_url }}" target="_blank">
                    {{ adv.name }}
                </a>
            </td>
            <td>{{ adv.year }}</td>
            <td>
                {{ adv.price | number }} грн.
            </td>
            <td>
                <a ng-href="{{ adv.origin_url }}" target="_blank">
                    <img ng-src="{{ adv.preview }}" height="64px" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="modal-footer">
    <a href="/" class="btn btn-default" data-dismiss="modal">Закрити</a>
</div>

</div>
</div>
</div>
<div class="modal-backdrop fade in"></div>